.login-box .login-logo img.brand-image {
    height: 100px;
    width: auto;
}

.sidebar-mini.layout-fixed.layout-footer-fixed .brand-link .brand-image {
    margin: 0 0 0 15px;
}

.alert.alert-dismissable ul.list-group li.list-group-item {
    background-color: transparent;
}

.alert.alert-dismissable a.close {
    text-decoration: none;
}

.hide {
    display: none;
}

.datatable-filter .select2.select2-container {
    display: inline-block !important;
}

.form-control, .form-control-sm {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #15151833;
    border-radius: 2px;
}

.datatable-filter .filter-user-role {
    width: 150px;
    display: inline-block !important;
}

.select2-container--bootstrap4 .select2-selection {
    font-size: .875rem !important;
}

.select2-container--bootstrap4 .select2-selection--single {
    height: calc(1.5em + .75rem + -1px) !important;
    border: 1px solid #15151833;
    border-radius: 2px;
}

.nav-sidebar .nav-header:not(:first-of-type)
{
    padding: 1rem 1rem .5rem !important;
}
div.dataTables_wrapper div.dataTables_filter input, select.select2bs4 {
    width: 170px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    vertical-align: text-top;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 140px !important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header i {
    margin-top:10px;font-size: 50px;
}

.dtb-actions {
    min-width: 100px;
    float: left;
}

body {
    /*font-family: Quicksand,Georgia,"Times New Roman",Times,serif !important;*/
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.card-title, label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600 !important;
}

label, label:not(.form-check-label):not(.custom-file-label) {
    font-size: .875rem !important;
    font-weight: 600 !important;
}

.list-none {
    list-style: none !important;
}

/*.form-control {
    height: calc(1.8125rem + 2px);
}*/

.btn,.btn.focus, .btn:focus {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24) !important;
}

.input-group-sm>.custom-select, .input-group-sm>.form-control:not(textarea), .select2-container--bootstrap4 .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: calc(2.25rem + 2px) !important;
}
.loader-wrapper {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
}

.loader-wrapper .loader {
    position: absolute;
    top: calc(50% - 85px);
    left: calc(50% - 125px);
    text-align: center;
    width: 300px;
    height: auto;
}

.loader-wrapper .loader .box {
    border: none;
    margin: 0;
    padding: 25px 0;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.loader-wrapper .loader span {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #000;
    display: block;
}

.loader-wrapper .loader img {
    margin-bottom: 15px;
}

.btn > i.material-icons {
    font-size: 1rem;
    line-height: 1.5;
}

.btn-xs {
    padding: 2px 3px;
}
.btn-xs > i.material-icons {
    font-size: 13px !important;
    line-height: 1;
    vertical-align: sub;
}



.avatar-upload {
    position: relative;
    max-width: 205px;
    /*margin: 50px auto;*/
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #bbbbbb;
}
.avatar-upload .avatar-edit input + label:after {
    content: "edit";
    font-family: 'Material Icons';
    font-size: 18px;
    color: #757575;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    /*border-radius: 100%;*/
    border: 6px solid #bbbbbb;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    /*border-radius: 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.datatable-filter label {
    width: 100%;
}
.dtb-actions a {
    margin-bottom: 15px;
}
